In [1]:
import pandas as pd

import numpy as np
import wrangle as wr
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = wr.get_zillow_data()

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedroomcnt,2152852.0,3.287196,0.954754,0.00,3.00,3.00,4.00,25.00
bathroomcnt,2152852.0,2.230688,0.999280,0.00,2.00,2.00,3.00,32.00
calculatedfinishedsquarefeet,2144379.0,1862.855178,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
taxvaluedollarcnt,2152370.0,461896.237963,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
yearbuilt,2143526.0,1960.949681,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
taxamount,2148421.0,5634.865978,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fips,2152863.0,6048.377335,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

In [4]:
df.shape

(2152863, 7)

In [5]:
df.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB

In [7]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,0.0,0.0,NaN,27516.0,NaN,NaN,6037.0
1,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
2,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
3,0.0,0.0,NaN,2108.0,NaN,174.21,6037.0
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0

In [8]:
df = df.dropna()

In [9]:
df.isna().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [10]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [11]:
df['yearbuilt'] = df.yearbuilt.astype(int)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     int64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(6), int64(1)
memory usage: 130.6 MB

In [13]:
df['bedroomcnt'] = df.bedroomcnt.astype(int)

In [14]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4,2.0,3633.0,296425.0,2005,6941.39,6037.0
6,3,4.0,1620.0,847770.0,2011,10244.94,6037.0
7,3,2.0,2077.0,646760.0,1926,7924.68,6037.0
11,0,0.0,1200.0,5328.0,1972,91.60,6037.0
14,0,0.0,171.0,6920.0,1973,255.17,6037.0

In [23]:
df[df.bathroomcnt == 1.5]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
66,1,1.5,1440.0,391993.0,1973,5018.52,6111.0
95,3,1.5,1698.0,286606.0,1979,2987.36,6111.0
108,3,1.5,1040.0,290073.0,1963,3078.72,6111.0
124,2,1.5,1245.0,59137.0,1965,697.52,6111.0
143,4,1.5,1763.0,354445.0,1956,3743.44,6111.0
...,...,...,...,...,...,...,...
2151477,3,1.5,1248.0,295452.0,1965,3550.28,6059.0
2151536,2,1.5,1110.0,352200.0,1977,3687.94,6059.0
2151662,2,1.5,1366.0,299498.0,1977,3180.40,6059.0
2152132,4,1.5,1379.0,85395.0,1972,826.48,6059.0
2152582,3,1.5,1426.0,440000.0,1966,5179.28,6059.0

In [27]:
df[df.bathroomcnt==0.0].value_counts()

bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  taxvaluedollarcnt  yearbuilt  taxamount  fips
0           0.0          60.0                          5763.0             2005       117.34     6037.0    12
                         20.0                          2875.0             2005       82.92      6037.0     8
                         60.0                          11534.0            2005       186.12     6037.0     6
                         172.0                         104.0              1979       13.36      6037.0     4
                         40.0                          9803.0             2005       165.49     6037.0     4
                                                                                                          ..
                         453.0                         125975.0           1957       1550.36    6037.0     1
                         456.0                         78439.0            1974       1108.63    6037.0     1
                         460.0                         275000.0           1924       3586.20    6037.0     1
                                                       291001.0           1936       3188.41    6037.0     1
18          0.0          26116.0                       20260690.0         2002       243003.64  6037.0     1
Length: 4199, dtype: int64